$body-color: #eff3f4;
$badge-color: #a4bac0;

// Commun css for all pages
body {
    background-color: $body-color;
}

.page {
    margin: auto;
    max-width: 1400px;
    min-width: 300px;
    width: 95%;
    background-color: $body-color;
    font-family: 'Text Me One', sans-serif;
    font-size: 18px;
}

.jumbotron {
    background-color: $body-color;
    text-align: center;
}

/* .logo {
    float: left;
    width: 140px;
    margin-left: 340px;
    margin-top: -55px;
    position: absolute;
    z-index: 20;
} */


h1 {
    font-size: 50px;
    position: relative;
    z-index: 10;
    margin-left: -20px;
}

.navBlock {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    .navSpace {
        margin-bottom: 40px;
    }
    .navSpace1 {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .navSpace3 {
        margin-bottom: 120px;
    }
    .navCustom {
        color: black;
        &:hover {
            color: black;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    height: 150px;
    .footerCustom {
        margin-top: 90px;
        font-size: 16px;
    }
}

// page Accueil 
.imgAccueil {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.imgAccueilFirstRow {
    margin-bottom: 50px;
}

// page Carte
h2 {
    text-align: center;
}

.colThird {
    margin-left: 40px;
}

.liste {
    background-color: $body-color;
    .badge {
        background-color: $badge-color;
    }
}

.imgCarte1 {
    margin-left: 0;
}

.imgCarte2 {
    margin-top: 0;
    margin-left: 0;
}

//page location
.column2 {
    margin-left: 45px;
}

.blocLoc1 {
    margin-top: 80px;
}

.blocLoc2 {
    margin-top: 208px;
}

.blocLoc3 {
    margin-top: 35px;
}

.address {
    margin-bottom: 30px;
    line-height: 15px;
}

.titleLocation {
    margin-bottom: 40px;
}

.map {
    margin-bottom: 25px;
}

.openClosed {
    margin-top: 20px;
    font-weight: bold;
}

//page contact
.imgAccueilContact {
    margin: 0; 
}

.imgContact {
    margin-top: 65px;
    margin-left: 75px;
}

.colTrois {
    margin-left: 70px;
}
