$body-color: #eff3f4;

// Commun css for all pages
body {
    background-color: $body-color;
}

.page {
    margin: auto;
    max-width: 1400px;
    min-width: 300px;
    width: 95%;
    background-color: $body-color;
    font-family: 'Text Me One', sans-serif;
    font-size: 18px;
}

.jumbotron {
    background-color: $body-color;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.navBlock {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    .navSpace {
        margin-bottom: 40px;
    }
    .navSpace1 {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .navSpace3 {
        margin-bottom: 120px;
    }
    .navCustom {
        color: black;
        &:hover {
            color: black;
        }
    }
}

// Accueil page
.imgAccueil {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.imgAccueilFirstRow {
    margin-bottom: 50px;
}
